#related-videos {
  float: left;
}

#related-videos p {
  margin: 0 3px 3px;
}

#related-videos img {
  display: block;
  float: left;
  clear: both;
  margin: 3px;
  padding: 0;
}

#related-videos p {
  width: 200px;
  display: inline-block;
  float: left;
  word-wrap: normal;
  word-break: normal;
}

#page-wrapper {
  border-top: 1px solid;
}

#video-wrapper {
  float: left;
  width: 60%;
  border-right: 1px solid;
}

#main-video {
  border-bottom: 1px solid;
}

#channel-info {
  border-bottom: 1px solid;
}

#publish-info{
  display: inline-block;
}

#show-more {
 text-decoration: none;
}

#comments-wrapper {
  border-bottom: 1px solid;
}

.comment {
  margin: 1px 0 1px;
}

.comment p {
  display: inline-block;
}
